{{#partial "content"}}
	<div class="button-box">
		<div class="button" data-id="destination" data-ctrl="Button">
			<div class="label">Destination</div>
			<div class="value">London Stansted</div>
		</div>
		<div class="button" data-id="date" data-ctrl="Button">
			<div class="label">Date</div>
			<div class="value">Any</div>
		</div>
		<div class="button" data-id="price" data-ctrl="Button">
			<div class="label">Price</div>
			<div class="value">Any</div>
		</div>
	</div>

	<div class="popup"></div>
{{/partial}}

{{> mainlayout}}
